body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 100px;
  width: 100%;
  background-color: #9BAAB1;
  background: -moz-linear-gradient(#9BAAB1, #BFD2DA);
  background: -webkit-gradient(linear, left top, left bottom, from(#9BAAB1), to(#BFD2DA));
  position: fixed;
  overflow: hidden;
}

  header h1 {
    color: white;
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    letter-spacing: -1px;
    text-shadow: #888 0px 0px 6px;
  }
    
    header h1 span {
      font-weight: normal;
    }
  
  header menu {
    position: absolute;
    right: 15px;
    bottom: 0px;
  }
  
    header menu li {
      width: 120px;
      height: 35px;
      line-height: 35px;
      display: block;
      float: right;
      background-color: #718894;
      background: -moz-linear-gradient(#718894, #5F737D);
      background: -webkit-gradient(linear, left top, left bottom, from(#718894), to(#5F737D));
      margin-right: 15px;
      color: white;
      text-align: center;
      font-size: 14px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-box-shadow: 0px 0px 6px #888;
      -moz-box-shadow: 0px 0px 6px #888;
      box-shadow: 0px 0px 6px #888;
    }
    
      header menu li a, header menu li.selected a {
        color: white;
      }
      
      header menu li a:hover {
        text-decoration: none;
      }
    
    header menu li:hover, header menu li.selected {
      background-color: #53779B;
      background: -moz-linear-gradient(#53779B, #476685);
      background: -webkit-gradient(linear, left top, left bottom, from(#53779B), to(#476685));
    }

article {
  display: block;
  padding: 30px 30px 30px 30px;
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
}


  /* list of records */
  aside.items {
    position: fixed;
    top: 130px;
    left: 30px;
    bottom: 30px;
  }

    aside.items > h1 {
      font-size: 15px;
      color: #555;
      width: 330px;
      padding: 0px 10px 0px 10px;
      border: 1px solid #aaa;
      border-bottom: none;
      background-color: #eee;
      height: 30px;
      line-height: 30px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
    }

    aside.items > h1 > a {
      font-size: 11px;
      color: #999;
      float: right;
      margin-top: 7px;
    }
    
    aside.items > ul {
      min-height: 100px;
      width: 350px;
      border: 1px solid #aaa;
      background-color: #eee;
      margin-bottom: 10px;
      padding-bottom: 20px;
      overflow: auto;
      position: fixed;
      bottom: 20px;
      top: 160px;
      left: 30px;
    }
    
      aside.items ul li {
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #aaa;
        padding: 0px 10px 0px 10px;
        color: #333;
      }
      
      aside.items ul.flat > li {
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      
      aside.items ul.flat li li {
        border: none;
      }
      
      aside.items ul.flat li h1 {
        font-weight: bold;
        color: #555;
      }
      
      aside.items ul li.selected {
        color: white;
        background-color: #53779B;
        background: -moz-linear-gradient(#53779B, #334C6B);
        background: -webkit-gradient(linear, left top, left bottom, from(#53779B), to(#334C6B));
        border-top: 1px solid #53779B;
      }
      
        aside.items ul li img {
          float: left;
          padding-top: 4px;
          padding-right: 10px;
        }
        
        aside.items ul li a.new_child {
          float: right;
          display: none;
        }
        
        aside.items ul.flat li a.new_child {
          display: block;
        }
        
        aside.items ul li:hover a.new_child {
          display: block;
        }
        
        aside.items ul li .record_types {
          opacity: 0.0;
          position: absolute;
          right: 35px;
          width: 16px;
        }
        
        aside.items ul li .delete {
          visibility: hidden;
          float: right;
          margin-right: -10px;
        }
        
        aside.items ul.tree li:hover .delete, aside.items ul.flat li ul li:hover .delete {
          visibility: visible;
        }
        
        aside.items ul li a {
          color: #333;
        }
        
        aside.items ul li.selected a {
          color: white;
        }

        aside.items ul li.indent_1 {
          padding-left: 15px;
        }
        
        aside.items ul li.indent_2 {
          padding-left: 30px;
        }
        
        aside.items ul li.indent_3 {
          padding-left: 45px;
        }
        
        aside.items ul li.indent_4 {
          padding-left: 60px;
        }
        
        aside.items ul li.indent_5 {
          padding-left: 75px;
        }
        
        aside.items ul li.indent_6 {
          padding-left: 90px;
        }
        
        aside.items ul li.indent_7 {
          padding-left: 105px;
        }
        
        aside.items ul li.indent_8 {
          padding-left: 120px;
        }
        
        aside.items ul li ul a, aside.items ul li.selected ul a {
          color: #333;
        }
      
    aside.items a {
      color: #999;
      font-size: 12px;
    }
    
    aside.items a:hover {
      color: #555;
    }
  
  
  
  
  
  
  
  
  /* main form */
  section {
    position: fixed;
    top: 130px;
    right: 0px;
    bottom: 0px;
    left: 410px;
    overflow: auto;
    padding: 0px 30px 60px 0px;
  }
  
  section.has_sidebar {
    padding-right: 80px;
  }
  
  section.sidebar_open {
    padding-right: 330px;
  }
  
    section form {
      display: block;
      width: 100%;
    }
  
    section ul {
      width: 100%;
    }
  
    section li {
      padding-bottom: 20px;
    }
    
    section li div {
      width: 100%;
    }
    
    section li label {
      display: block;
      font-size: 14px;
      font-weight: normal;
      color: #777;
      margin-bottom: 7px;
    }
    
    section li label.inline {
      display: inline-block;
    }
    
    section input {
      border: 2px inset;
      border: 1px solid #999;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
      background: -moz-linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0));
      -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, 0.15);
      -moz-box-shadow: 0px 1px 1px rgba(0,0,0, 0.15);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 100%;
      height: 25px;
      color: #555;
      font-size: 12px;
      padding-left: 5px;
      outline: none;
    }
    
    section input:focus {
      border: 1px solid rgba(73, 127, 185, 0.9);
    }
    
    section div {
      color: #555;
      font-size: 12px;
    }
    
    section .time_hour {
      margin-left: 5px;
      margin-right: 10px;
    }
    
    section .time_minute {
      margin-left: 5px;
    }
    
    section input[type=file] {
      background: none;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      width: auto;
      margin-left: 15px;
    }
    
    section input[type=checkbox] {
      width: auto;
      height: auto;
      margin-right: 15px;
    }
    
    section .calendar_trigger {
      line-height: 25px;
      vertical-align: middle;
    }
    
    section input.date {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background: none;
      width: auto;
      display: inline;
      line-height: 25px;
    }
    
    section select {
      margin-left: 15px;
    }
    
    section textarea {
      color: #555;
      font-size: 12px;
      font-family: monospace;
      border: 1px solid #999;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      height: 350px;
      width: 100%;
      padding: 4px 5px 5px 5px;
      outline: none;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
      background: -moz-linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0));
      -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, 0.15);
      -moz-box-shadow: 0px 1px 1px rgba(0,0,0, 0.15);
    }
    
    section textarea:focus {
      border: 1px solid rgba(73, 127, 185, 0.9);
    }

    section .upload_name {
      font-size: 12px;
      color: #333;
    }

    section .has_many {
      border: 1px solid #aaa;
      height: 200px;
      overflow: auto;
      width: 100%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    
      section .has_many li {
        padding: 15px 0px 0px 15px;
      }

    section input.submit, section input.cancel {
      width: auto;
      display: block;
      font-size: 12px;
      height: 26px;
      padding: 0px 10px 0px 10px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.12)), to(rgba(0,0,0,0.05)));
      background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
    }
    
    section input.submit {
      float: right;
    }
    
    section input.cancel {
      float: left;
    }
    
    section input.submit:hover, section input.cancel:hover {
      border: 1px solid rgba(73, 127, 185, 0.9);
    }
    
    section input.submit[disabled], section input.cancel[disabled] {
      opacity: 0.5;
    }
    
  
  
  
  
  
  
  
    /* side bar */
    section.no_sidebar aside {
      width: 0px;
      padding: 0px;
    }
    
    section.has_sidebar aside {
      width: 10px;
      opacity: 0.5;
    }
    
    section.has_sidebar aside:hover {
      opacity: 1.0;
    }
    
      section.has_sidebar aside ul {
        display: none;
      }

    section.sidebar_open aside {
      width: 250px;
    }
    
    section aside {
      background-color: #718894;
      position: fixed;
      right: 30px;
      top: 130px;
      bottom: 30px;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    
      section aside a.close {
        color: white;
        position: absolute;
        top: 9px;
        right: 15px;
        font-size: 15px;
      }
    
      section.has_sidebar aside a {
        display: none;
      }
          
      section aside ul li {
        font-size: 14px;
        display: block;
        margin-right: 20px;
        float: left;
      }
      
      section aside ul li a {
        color: white;
      }
      
      section aside ul li.selected {
        text-decoration: underline;
      }
    
        section aside ul li.selected ul {
          display: block;
        }
        
        section aside ul li ul {
          position: absolute;
          top: 35px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          background-color: white;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          overflow: auto;
          padding: 15px 10px 15px 10px;
          display: none;
          width: auto;
        }
        
        section aside ul li ul li {
          width: 100%;
        }
        
        section aside ul li ul li label {
          text-decoration: none;
          border: none;
        }
        
        section aside ul li ul li textarea {
          height: 100px;
        }
        
        